@import "tailwindcss";

@theme {
  --color-background: #191619;
  --color-foreground: #f8fafc;
  --color-primary: #CC7778;
  --font-sans: var(--font-metropolis);
}

:root {
  background-color: var(--color-background);
  color: var(--color-foreground);
  --font-sans: var(--font-metropolis);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}
